<div id="c_findUs" class="c_findUs">
  <h2 class="findUs_h2">FIND US AT</h2>

  <div class="adress">
    <img src="./../../../assets/img/LO.png" alt="" />
    <p class="font-family: Raleway">Kapuzinerstraße 31, München 80337</p>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14756.610811412578!2d-59.834874272346504!3d-22.38560008070635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9471f97a6d466923%3A0xd5d1cbaa908da19b!2sla%20salud%20Park!5e0!3m2!1sde!2spy!4v1668282319088!5m2!1sde!2spy"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
