h1,
h2 {
  color: whitesmoke;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
  margin-top: 30%;
}

section {
  height: 100vh;
  width: 100%;

  background-image: url("./../../../assets/img/bgr.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.WelcomeText {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .c_navDiv {
//   position: fixed;
//   top: 0;
//   width: 80%;
//   height: 70px;

//   margin-top: 32px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;

//   > img {
//     width: 64px;
//     height: 64px;
//   }
// }

// .navRightSide {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   gap: 16px;
// }

// .phone_btn {
//   // width: 350px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   padding-left: 32px;
//   > img {
//     width: 64px;
//     height: 64px;
//   }
// }

// a {
//   text-decoration: none;
//   color: white;
//   > a {
//     &:hover {
//       color: green;
//     }
//   }
// }
