<div id="c_ourMenu" class="c_ourMenu">
  <h2 class="ourMenu_h2">OUR MENU</h2>

  <div class="myMenu">
    <div class="gang">
      <img src="assets/img/r1.png" alt="gericht-auf-teller" />

      <div class="menuStyle">
        <h3>Tonkasu Ramen</h3>
        <div>
          <table class="tabelle_ausrichtung">
            <tr>
              <td class="table-right-alignment">CHICKEN</td>
              <td class="table-left-alignment">11,95€</td>
            </tr>
            <tr>
              <td class="table-right-alignment">BEEF</td>
              <td class="table-left-alignment">12,95€</td>
            </tr>
            <tr>
              <td class="table-right-alignment">SHRIMP</td>
              <td class="table-left-alignment">13,95€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="gang responsiv-786-1">
      <div class="menuStyle">
        <h3>Spicy Miso Ramen</h3>
        <div>
          <table class="tabelle_ausrichtung responsiv-786-2">
            <tr>
              <td class="table-right-alignment">CHICKEN</td>
              <td class="table-left-alignment">11,95€</td>
            </tr>
            <tr>
              <td class="table-right-alignment">BEEF</td>
              <td class="table-left-alignment">12,95€</td>
            </tr>
            <tr>
              <td class="table-right-alignment">SHRIMP</td>
              <td class="table-left-alignment">13,95€</td>
            </tr>
          </table>
        </div>
      </div>

      <img src="assets/img/r2.png" alt="gericht-auf-teller" />
    </div>

    <div class="gang">
      <img src="assets/img/r3.png" alt="gericht-auf-teller" />

      <div class="menuStyle">
        <h3>Shio Ramen</h3>
        <div>
          <table class="tabelle_ausrichtung">
            <tr>
              <td class="table-right-alignment">CHICKEN</td>
              <td class="table-left-alignment">11,95€</td>
            </tr>
            <tr>
              <td class="table-right-alignment">BEEF</td>
              <td class="table-left-alignment">12,95€</td>
            </tr>
            <tr>
              <td class="table-right-alignment">SHRIMP</td>
              <td class="table-left-alignment">13,95€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
