.c_navDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 60px 0 60px;

  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > img {
    width: 64px;
    height: 64px;
  }
}

.navRightSide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.phone_btn {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  > img {
    width: 64px;
    height: 64px;
  }
}

a {
  text-decoration: none;
  color: white;
  > a {
    &:hover {
      color: green;
    }
  }
}
