<nav class="c_navDiv">
  <img
    class="navLogo"
    id="navLogo"
    src="./../../../assets/img/sakura_logo.png"
    alt="Sakura Logo."
  />

  <div class="navRightSide">
    <div class="ancherDiv" id="ancherDiv">
      <a href="#c_order">HOW TO ORDER</a>
      <a href="#c_ourMenu">MENU</a>
      <a href="#c_findUs">LOCATIONS</a>
      <a href="#c_findUs">ABOUT</a>
    </div>

    <div class="phoneBtn">
      <img class="phoneBtn_img" src="./../../../assets/img/phone.png" alt="Phone Icon" />
      <a href="#">0176 54564534</a>
    </div>
  </div>
</nav>
