<div class="c_orderHead" id="c_orderHead">
  <h2 id="orderHead_h2" class="orderHead_h2">HOW TO ORDER</h2>

  <div class="myOrder">
    <div class="order">
      <img src="./../../../assets/img/bowl_icon.jpg" alt="" />
      <span id="translate_pick_your_noodle"
        ><b
          >Pick <br />
          Your Noodle</b
        ></span
      >
    </div>
    <div class="order">
      <img src="./../../../assets/img/broth_icon.png" alt="" />
      <span id="translate_your_brath"
        ><b>Pick <br />Your Brath</b></span
      >
    </div>
    <div class="order">
      <img src="./../../../assets/img/eggs_icon.jpg" alt="" />
      <span id="translate_toppings"
        ><b>Add Your <br />Toppings</b></span
      >
    </div>
  </div>
</div>
